@import "node_modules/@baloise/design-system-components/src/styles/global.utilities.scss";

:host {
  .step-controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    .bal-btn-link {
      margin-right: 10px;
    }
  }
}
